<main>
    <!-- Navbar -->
    <div class="navbar">
        <a href="/dashboard" class="navbarElement">Dashboard</a>
        <a href="/profile" class="navbarElement">Profile</a>
        <a href="/paychecks" class="navbarElement">Paychecks</a>
        <a href="/transactions" class="navbarElement" id="currentNavbarLink">Transactions</a>
        <a href="/budgets" class="navbarElement">Budgets</a>
        <a href="/logout" class="navbarElement">Logout</a>
    </div>
    
    <div class="transactionPage">
        <h1>{{title}}</h1>

        {{#if hasErrors}}
        {{#each errors}}
        <p class="errorMessage">{{this}}</p>
        {{/each}}
        {{/if}}

        <div class="clientSideErrors" hidden></div>

        <p>
            Add a new transaction
        </p>

        <!-- Transaction Form -->
        <form action="/transactions/{{userId}}" method="POST" class="transactionForm">
            <!-- Date Input -->
            <label for="dateInput">Date</label><br>
            <input type="date" name="dateInput" id="dateInput" required><br>

            <!-- Method Input -->
            <label for="methodInput">Payment Method</label><br>
            <select name="methodInput" id="methodInput" required>
                {{#each paymentMethods}}
                <option value={{ this.name }}>{{ this.name }}</option>
                {{/each}}
            </select><br>

            <!-- Expense Name Input -->
            <label for="expenseNameInput">Expense Name</label><br>
            <input type="text" name="expenseNameInput" id="expenseNameInput" placeholder="House Payment" required><br>

            <!-- Amount Input -->
            <label for="amountInput">Amount</label><br>
            <input type="number" name="amountInput" id="amountInput" step="0.01" placeholder="1000" required><br>

            <!-- Category Input -->
            <label for="categoryInput">Category</label><br>
            <input type="text" name="categoryInput" id="categoryInput" placeholder="Mortgage" required><br>

            <!-- Submit -->
            <input type="submit" id="transactionSubmit">
        </form>

        <h2>Transaction History</h2>
    {{#if hasTransactions}}
    <table>
        <tr>
            <th>Date</th>
          <th>Method</th>
          <th>Expense Name</th>
          <th>Amount</th>
          <th>Category</th>
        </tr>
        {{#each transactions}}
        <tr>
            <tr>
            <td>{{this.date}}</td>
            <td>{{this.method}}</td>
            <td>{{this.expenseName}}</td>
            <td>{{this.amount}}</td>
            <td>{{this.category}}</td>
            <td>
                <form action="/transactions/transaction/{{this._id}}?method=DELETE" method="POST">
                    <input type="submit" value="Delete">
                </form>
            </td>
          </tr>
        </tr>
        {{/each}}
    </table>
    {{/if}}

    <!-- Back Button -->
    <a href="/dashboard" class="backButton">Back</a>


    </div>
</main>
