<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
        google.charts.load('current', { packages: ['corechart'] });
        google.charts.load('current', {packages: ['table']});


        google.charts.setOnLoadCallback(drawPaycheckAmountByDate);

        google.charts.setOnLoadCallback(drawTransactionAmountByDate);

        google.charts.setOnLoadCallback(transactionAmountByCategory);

        google.charts.setOnLoadCallback(transactionAmountByPaymentMethod);

        google.charts.setOnLoadCallback(budgetAmountByCategory);

        
        
        function drawPaycheckAmountByDate() {

            var data = {{{graphData.paycheckGraphData}}};
            var dataTableData = google.visualization.arrayToDataTable(data);
            
            var options = {title: 'Paycheck Amount by Date Received',
            subtitle: 'in dollars (usd)',
              curveType: 'function',
              legend: { 
                position: 'bottom' 
                },
                'height': 350
                };
            
            var chart = new google.visualization.LineChart(document.getElementById('paycheckAmountByDate'));
            chart.draw(dataTableData, options);
        
        };

        function drawTransactionAmountByDate(){
        

          var transactionGraphDataLocal = {{{graphData.transactionAmountByDateData}}};
          var transactionGraphData = google.visualization.arrayToDataTable(transactionGraphDataLocal);

          var options = {
          title: 'Transaction Amount by Date',
          subtitle: 'in dollars (USD)',
          curveType: 'function',
          legend: { 
            position: 'bottom' 
            },
            'height': 350
          };

        var chart = new google.visualization.LineChart(document.getElementById('transactionAmountByDate'));
        chart.draw(transactionGraphData, options);
        };

        function transactionAmountByCategory(){

          var transactionAmountByCategoryDataLocal = {{{graphData.transactionAmountByCategoryData}}};
          var transactionAmountByCategoryData = google.visualization.arrayToDataTable(transactionAmountByCategoryDataLocal);

          var transactionAmountByCategoryGrouped = google.visualization.data.group(
            transactionAmountByCategoryData,
            [0],
            [{
              column: 1,
              type: 'number',
              aggregation: google.visualization.data.sum,
            }]
          );


          var options = {
            'title':'Transaction Amount by Category',
                     'width':400,
                     'height':300};

          

        var table = new google.visualization.PieChart(document.getElementById('transactionAmountByCategory'));
        table.draw(transactionAmountByCategoryGrouped, options);

        };

        function transactionAmountByPaymentMethod (){
          var transactionAmountByPaymentMethodDataLocal = {{{graphData.transactionAmountByPaymentMethodData}}};
          
          var transactionAmountByPaymentMethodData = google.visualization.arrayToDataTable(transactionAmountByPaymentMethodDataLocal);

          var transactionAmountByPaymentMethodGrouped = google.visualization.data.group(
            transactionAmountByPaymentMethodData,
            [0],
            [{
              column: 1,
              type: 'number',
              aggregation: google.visualization.data.sum,
            }]
          );

          var options = {
            'title':'Transaction Amount by Payment Method',
                     'width':400,
                     'height':300};

          
          var table = new google.visualization.PieChart(document.getElementById('transactionAmountByPaymentMethod'));
          table.draw(transactionAmountByPaymentMethodGrouped, options);
        }

        function budgetAmountByCategory(){
          var budgetAmountByCategoryDataLocal = {{{graphData.budgetAmountByCategoryData}}};
          var budgetAmountByCategoryData = google.visualization.arrayToDataTable(budgetAmountByCategoryDataLocal);

          var budgetAmountByCategoryGrouped = google.visualization.data.group(
            budgetAmountByCategoryData,
            [0],
            [{
              column: 1,
              type: 'number',
              aggregation: google.visualization.data.sum,
            }]
          );

          var options = {
            'title':'Budget Amount by Category',
                     'width':400,
                     'height':300};

          
          var table = new google.visualization.PieChart(document.getElementById('budgetAmountByCategory'));
          table.draw(budgetAmountByCategoryGrouped, options);
        }



        
</script>

<main>

  <!-- Navbar -->
  <div class="navbar">
    <a
      href="/dashboard"
      class="navbarElement"
      id="currentNavbarLink"
    >Dashboard</a>
    <a href="/profile" class="navbarElement">Profile</a>
    <a href="/paychecks" class="navbarElement">Paychecks</a>
    <a href="/transactions" class="navbarElement">Transactions</a>
    <a href="/budgets" class="navbarElement">Budgets</a>
    <a href="/logout" class="navbarElement">Logout</a>
  </div>

  <h1>{{title}}</h1>

  <!-- Render Server Errors -->
  {{#if hasErrors}}
    <p class="errorMessage">{{errorMessage}}</p>
    <input type="button" onclick="location.href='/dashboard'" value="Go back to Dashboard!" />
  {{/if}}

  <div class="dashboard-container">
    <table>
      <tr>
        <td>
          <div id="paycheckAmountByDate">
          </div>
        </td>
        <td>
          <div id="transactionAmountByDate">
          </div>
        </td>
        <td>
          <div id="transactionAmountByCategory">
        </td>

    </tr>
    <tr>
      <td>
        <div id="transactionAmountByPaymentMethod">
        </div>
      </td>
      <td>
        <div id="budgetAmountByCategory">
        </div>
    </tr>
    </table>

    {{!-- <div id="transactionByMehod">
    </div> --}}

    
    {{#if hasPaychecks}}
      <div class="dashboard-box paychecks-box">
        <h2>Paychecks</h2>

        <table>
          <thead>
            <tr>
              <td>
                <form>
                  <label for="paycheckAmountFilter">Filter by amount</label>
                  <input type="number" name="paycheckMinAmount" placeholder="Minimum Amount"  />
                  <input type="number" name="paycheckMaxAmount" placeholder="Maximum Amount"  />
                  <input type="submit" value="Search" /> 
                </form>
              </td>
            </tr>
            <tr>
              <td>
              <form>
                <label for="paycheckSearchByNotes">Search by Notes:</label>
                <input
                  type="text"
                  id="paycheckSearchByNotes"
                  name="paycheckSearchByNotes"
                />
                <input type="submit" value="Search">
              </form>
              </td>
            </tr>
             <tr>
              <td>
                <label> Filter by date: </label>
                <input type="text" name="paychecksDateFilter" />
              </td>
            </tr>
            <tr>
              <th>Date Received</th>
              <th>Paycheck Amount</th>
              <th>Notes</th>
            </tr>
          </thead>
          <tbody>
            {{#each paychecks}}

              <tr>
                <td>{{this.date}}</td>
                <td>${{this.amount}}</td>
                <td>{{this.notes}}</td>
              </tr>
            {{/each}}
            <tr>
              <td>
            {{#if hasPaycheckFilter}}
               <input type="button" onclick="location.href='/dashboard'" value="Clear Filter!" />
            {{/if}}
            </td>
            </tr>

          </tbody>

        </table>
      </div>
    {{else if hasNoFilteredPaychecks}}
      <div class="dashboard-box paychecks-box">
        <h2>Paychecks</h2>
        <h4>No paychecks found with given value!</h4>
        <input type="button" onclick="location.href='/dashboard'" value="Go back to Dashboard!" />
      </div>
    {{else}}
      <div class="dashboard-box paychecks-box">
        <h2>Paychecks</h2>
        <h4>No paychecks found!</h4>
      </div>
    {{/if}}

    {{#if hasTransactions}}
      <div class="dashboard-box transactions-box">
        <h2>Transactions</h2>
        <table>
          <thead>
            <tr>
              <td>
                <form>
                  <input type="number" name="transactionMinAmount" placeholder="Minimum Amount"  />
                  <input type="number" name="transactionMaxAmount" placeholder="Maximum Amount"  />
                  <input type="submit" value="Search" /> 
                </form>
              </td>
            </tr>
            <tr>
              <td>
                <form>
                <label for="transactionsCategory">Select the category</label>
                <input
                  list="categories"
                  id="transactionsCategory"
                  name="transactionsCategory"
                />
                <datalist id="categories">
                    {{#each transactionCategories}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </datalist>
                <input type="submit" value="Search">
                </form>
              </td>
            </tr>
            <tr>
              <td>
                <form>
                  
                <label for="transactionsPaymentMethod">Select by category</label>
                
                <input
                  list="paymentMethods"
                  id="transactionsPaymentMethod"
                  name="transactionsPaymentMethod"
                />
                <datalist id="paymentMethods">
                    {{#each transactionPaymentMethods}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </datalist>
                <input type="submit" value="Search">
              </form>
              </td>
            </tr>
            <tr>
              <td>
                <label> Filter by date: </label>
                <input type="text" name="transactionDateFilter" />
              </td>
            </tr>
            <tr>
              <td>
              <form>
                <label for="transactionSearchByName">Search by Expense Name:</label>
                <input
                  type="text"
                  id="transactionSearchByName"
                  name="transactionSearchByName"
                />
                <input type="submit" value="Search">
              </form>
              </td>
            </tr>
            <tr>
              <th>Date</th>
              <th>Method</th>
              <th>Expense Name</th>
              <th>Amount</th>
              <th>Category</th>
            </tr>
          </thead>
          <tbody>
            {{#each transactions}}
              <tr>
                <tr>
                  <td>{{this.date}}</td>
                  <td>{{this.method}}</td>
                  <td>{{this.expenseName}}</td>
                  <td>${{this.amount}}</td>
                  <td>{{this.category}}</td>
                </tr>
              </tr>

            {{/each}}
            <tr>
              <td>
            {{#if hasTransactionFilter}}
               <input type="button" onclick="location.href='/dashboard'" value="Clear Filter!" />
            {{/if}}
            </td>
            </tr>
          </tbody>
        </table>
    {{else if hasNoFilteredTransactions}}
      <div class="dashboard-box transactions-box">
        <h2>Transactions</h2>
        <h4>No Transactions found with given category!</h4>
        <input type="button" onclick="location.href='/dashboard'" value="Go back to Dashboard!" />
      </div>
      </div>
    {{else}}
      <div class="dashboard-box transactions-box">
        <h2>Transactions</h2>
        <h4>No transactions found!</h4>
      </div>
    {{/if}}

    {{#if hasBudgets}}
      <div class="dashboard-box budgets-box">
        <h2>Budgets</h2>
        <table>
          <thead>
            <tr>
              <td>
                <form>
                <label for="budgetCategory">Select the category</label>
                <input
                  list="bCategories"
                  id="budgetsCategory"
                  name="budgetCategory"
                />
                <datalist id="bCategories">
                    {{#each budgetCategories}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </datalist>
                <input type="submit" value="Search">
                </form>
              </td>
            </tr>
            <tr>
              <td>
                <form>
                <label for="budgetYear">Filter by year and month:</label>
                <input
                  type="text"
                  id="budgetYear"
                  name="budgetYear"
                />
                <input
                list = "budgetMonths"
                id = "budgetMonth"
                name="budgetMonth"/>
                <datalist id="budgetMonths">
                    <option value="January">
                    <option value="February">
                    <option value="March">
                    <option value="April">
                    <option value="May">
                    <option value="June">
                    <option value="July">
                    <option value="August">
                    <option value="September">
                    <option value="October">
                    <option value="November">
                    <option value="December">
                </datalist>

                <input type="submit" value="Search">
              </form>
              </td>
            </tr>
            <tr>
              <td>
                <form>
                  <input type="number" name="budgetMinAmount" placeholder="Minimum Amount"  />
                  <input type="number" name="budgetMaxAmount" placeholder="Maximum Amount"  />
                  <input type="submit" value="Search" /> 
                </form>
              </td>
            </tr>
            <tr>
                <th>Month</th>
                <th>Year</th>
                <th>Category</th>
                <th>Amount</th>
                <th>Recurring</th>
            </tr>
          </thead>
          <tbody>
            {{#each budgets}}
            <tr>
                <td>{{ this.month }}</td>
                <td>{{ this.year }}</td>
                <td>{{ this.category }}</td>
                <td>${{ this.amount }}</td>
                <td>{{ this.recurring }}</td>
            </tr>
            {{/each}}
            <tr>
              <td>
                {{#if hasBudgetFilter}}
               <input type="button" onclick="location.href='/dashboard'" value="Clear Filter!" />
                {{/if}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    {{else if hasNoFilteredBudgets}}
      <div class="dashboard-box budgets-box">
        <h2>Budgets</h2>
        <h4>No filtered budgets found!</h4>
        <input type="button" onclick="location.href='/dashboard'" value="Go back to Dashboard!" />
      </div>
      </div>
    {{else}}
      <div class="dashboard-box budgets-box">
        <h2>Budgets</h2>
        <h4>No budgets found!</h4>
      </div>

    {{/if}}

  </div>

</main>