<main>
    <div class="registerPage">
        <h1>{{ title }}</h1>
        
        <!-- Description -->
        <p>
            Welcome! Please register your new account below!
        </p>

        <!-- Render Server Errors -->
        {{#if hasErrors}}
        <ul class="errorList" id="errorList">
            {{#each errors}}
            <li>
                {{this}}
            </li>
            {{/each}}
        </ul>
        {{/if}}
        <div id="errorContainer"></div>

        <!-- Render Client Errors -->
        <div id="clientErrors" hidden>
            <ul class="clientErrorList"></ul>
        </div>

        <!-- Login Form -->
        <form action="/register/processRegister" method="POST" class="registerForm">
            <!-- Email Input -->
            <label for="emailInput">Email</label><br>
            <input type="email" name="emailInput" id="emailInput" placeholder="john.doe@gmail.com" value="{{inputs.email}}" autofocus required><br>

            <!-- Personal Information Input -->
            <label for="firstNameInput">First Name</label><br>
            <input type="text" name="firstNameInput" id="firstNameInput" placeholder="John" value="{{inputs.firstName}}" required><br>

            <label for="lastNameInput">Last Name</label><br>
            <input type="text" name="lastNameInput" id="lastNameInput" placeholder="Doe" value="{{inputs.lastName}}" required><br>

            <!-- Password Input -->
            <label for="firstPasswordInput">Password</label><br>
            <input type="password" name="firstPasswordInput" id="firstPasswordInput" value="{{inputs.firstPassword}}" required><br>

            <label for="secondPasswordInput">Password</label><br>
            <input type="password" name="secondPasswordInput" id="secondPasswordInput" value="{{inputs.secondPassword}}" required><br>

            <!-- Submit -->
            <input type="submit" id="registerFormSubmit">
        </form>
        <!-- Register New User --> 
        <a class="register-login-swap-button" href="/">Already Have An Account? Login Here!</a>
    </div>
</main>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const registerForm = document.querySelector('.registerForm');
    const errorList = document.getElementById('errorList');

    function validateEmail(email) {
      const re = /^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/;
      return re.test(email);
    }

    function validatePassword(password) {
      // Adjust the password requirements to your preference
      const minLength = 8;
      const re = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d\w\W]{8,}$/;
      return re.test(password) && password.length >= minLength;
    }

    registerForm.addEventListener('submit', (event) => {
      event.preventDefault();

      const emailInput = document.getElementById('emailInput');
      const passwordInput = document.getElementById('passwordInput');
      const email = emailInput.value;
      const password = passwordInput.value;

      const errors = [];

      if (!validateEmail(email)) {
        errors.push('Invalid email format');
      }

      if (!validatePassword(password)) {
        errors.push('Invalid password. Password must have at least 8 characters, including 1 uppercase letter, 1 lowercase letter, and 1 number');
      }

      if (errors.length === 0) {
        registerForm.action = "/register/processRegister";
        registerForm.method = "POST";
        registerForm.submit();
      } else {
        // Show error messages if validation fails
        errorList.innerHTML = '';
        errors.forEach((error) => {
          const li = document.createElement('li');
          li.textContent = error;
          errorList.appendChild(li);
        });

        const errorContainer = document.getElementById('errorContainer');
        errorContainer.innerHTML = '<p>Please correct input.</p>';
      }
    });
  });
</script>
